{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container ">
    <div class="row">
        <div class="col border">
            <!-- <img src="{% static 'images/tshirt-img.png' %}" alt=""> -->


            <!--  -->
            <div class="  ">
                <div class="row ">
                    <div class="col-md-12">
                        <div id="custCarousel" class="carousel slide w-100 " data-ride="carousel"
                            style="justify-content:center;">
                            <!-- slides -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/s2.png' %}" class=" h-75" alt="Hills">
                                </div>

                                <div class="carousel-item">
                                    <img src="{% static 'images/s2.png' %}" class=" h-75" alt="Hills">
                                </div>

                                <div class="carousel-item">
                                    <img src="{% static 'images/s2.png' %}" class=" h-75" alt="Hills">
                                </div>


                            </div>

                            <!-- Left right -->
                            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                <span>
                                    <i class="fa fa-arrow-left text-dark fs-5" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                                <span>
                                    <i class="fa fa-arrow-right text-dark fs-5" aria-hidden="true"></i>
                                </span>
                            </a>

                            <!-- Thumbnails -->
                            <ol class="carousel-indicators list-inline ">
                                <li class="list-inline-item active boder">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0"
                                        data-target="#custCarousel">
                                        <img src="{% static 'images/s2.png' %}" class="img-fluid w-75">
                                    </a>
                                </li>

                                <li class="list-inline-item ">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                                        <img src="{% static 'images/s2.png' %}" class="img-fluid w-75">
                                    </a>
                                </li>

                                <li class="list-inline-item ">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                                        <img src="{% static 'images/s2.png' %}" class="img-fluid w-75">
                                    </a>
                                </li>


                            </ol>
                        </div>
                    </div>
                </div>
            </div>



            <!--  -->



        </div>
        <div class="col border">
            <h3>SWT Pack of 3 Fine Cotton Jersey Long Sleeve T-Shirts Printed T-Shirt For Boys and Girls (FREE GIFT)
                - Stylish Kids' Fashion</h3>
            <h2>Rs. 1,234</h2>
            <div>
                <p class="text-muted fw-bold fs-5">Size</p>
                <div>
                    <div class="d-flex gap-3">
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">1-2 yrs</a>
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">2-3 yrs</a>
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">3-4 yrs</a>
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">4-5 yrs</a>

                    </div>

                    <div class="d-flex gap-3 mt-3">
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">5-6 yrs</a>
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">6-7 yrs</a>
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">7-8 yrs</a>
                        <a href="" class="text-decoration-none border p-2 text-dark border-dark">8-9 yrs</a>

                    </div>

                </div>
                <!--  -->
                <div class="container mt-5">
                    <p class="fw-bold fs-5">quantity</p>

                    <div class="counter">
                        <button class="btn bg-light" onclick="decreaseQuantity()">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <input type="text" id="quantity" class="form-control bg-white border-0 fw-bold" value="1"
                            readonly>
                        <button class="btn bg-light" onclick="increaseQuantity()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!--  -->
                <br><br>
                <div>
                    <button class="ba btn fw-bold w-25">Add to Cart</button>
                    <button class="bn btn fw-bold w-25">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- review and descrpiton -->
<div class="container border p-3 align-items-center">
    <h3>Related Content</h3>
    <div class="row ">
        <div class="col">

            <!--  -->
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tshirt RED</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5>Rs 4000</h5>
                    <a href="#" class="btn ba w-100">Buy Now</a>
                </div>
            </div>

            <!--  -->







        </div>
        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tshirt RED</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5>Rs 4000</h5>
                    <a href="#" class="btn ba w-100">Buy Now</a>
                </div>
            </div>

            <!--  -->


        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tshirt RED</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <h5>Rs 4000</h5>
                    <a href="#" class="btn w-100 ba">Buy Now</a>
                </div>
            </div>

            <!--  -->

        </div>
    </div>

</div>

<div class="container">
    <div class="row border">
        <h3>Product details</h3>
        <p>
            <b>Language </b> : English <br>
            <b>Product Dimensions </b> : 0.98 x 4.02 x 5.26 inches; 0.04 Ounces <br>
            <b>Item model number </b> : CAA001bt3MWH <br>
            <b>Batteries</b> : 1 Lithium Ion batteries required. <br>
            <b>Date First Available</b> : February 20, 2020 <br>
            <b>Manufacturer </b> : Belkin <br>
            <b>ASIN </b> : B08558JKGD <br>
            <b>Country of Origin</b> : Vietnam <br>
            <b>Best Sellers Rank</b>: #687 in Lightning Cables <br>

        </p>
    </div>
</div>

{% endblock %}